/* пишем стили */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: auto;
	height: 100%;
	background-color: #fff;
}

h1, h2, .copy {
	font-family: "RedRingLight", sans-serif;
	font-weight: 100;
	font-style: normal;
}
button {
	font-family: "ProximaNovaLight", sans-serif;
	font-weight: 400;
	font-style: normal;
}

input, textarea, button {
	outline: none;
}
/* end reset */


.text_white {
	color: white;
}

.clear {
	clear: both;
}

/* Начало описания хэдера*/

header {
	width: 100% ;
	height: 100px ;
	padding-top: 15px ;
	position: relative;
	z-index: 1;
}
header .logo {
	text-align: center;
}
/* Конец описания хэдера*/


/* Начало описания баннера*/

.banner {
	position: relative;
	height: 650px;
	background:linear-gradient(0deg, #ffa8a8, #fcff00);
	padding-top: 180px;
}

.banner .banner-text {
	text-align: center;
}

.banner .banner-text h1 {
	font-size: 40px;
	text-transform: uppercase;
}

.banner .banner-text h1 span {
	font-family: "RedRingRegular", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.banner .banner-image {
	position: absolute;
	width: 324px;
	height: 100%;
	bottom: 0;
	left: 50%;
	background: url("images/phones.png");
	background-repeat: no-repeat;
	transform: translateX(-50%);
	background-position: center bottom;
	background-size: auto;  

}

/* Конец описания хэдера*/



/* Начало описания эбаута*/

.about {
	padding: 105px 0;
}

.about .about-item {
	display: inline-block;
	float: left;
	width: 33.33%;
	padding: 0 30px;
	text-align: center;
}

.about .about-item h3 {
	font-family: "ProximaNovaThin", sans-serif;
	font-size: 24px;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
}

.about .about-item .icon {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 25px 0;
}

.about .about-item .icon.innovative {
	background: url("images/lamp.png") no-repeat center center;
	background-size: auto;
}

.about .about-item .icon.unlimited {
	background: url("images/infinity.png") no-repeat center center;
	background-size: auto;
}

.about .about-item .icon.trendy {
	background: url("images/trendy.png") no-repeat center center;
	background-size: auto;
}

.about .about-item p {
	width: 75%;
	font-family: "ProximaNovaLight";
	font-size: 18px;
	margin: 0 auto;
	text-align: justify;
}

/* Конец описания хэдера*/

/* Начало описания формы */

.form {
	position: relative;
	padding: 105px 0;
	text-align: center;
	background-color: #f8f8f8;
}

.form h2 {
	font-size: 24px;
	margin-bottom: 50px;
}

.form form {
	display: inline-block;
	width: 60%;
}

.form form input,
.form form textarea {
	width: 100%;
	font-size: 18px;
	color: black;
	border: 2px solid #ffa8a8;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 50px;
}

.form form input {
	height: 42px;
}

.form form textarea {
	height: 200px;
	padding-top: 10px;
	resize: none;
}

/* Конец описания формы */


/* Начало описания кнопки */

.btn {
	display: inline-block;
	height: 42px;
	font-size: 18px;
	background-color: red;
	padding: 10px 10%;
	border: none;
	border-radius: 15px;
	text-transform: uppercase;
	background-image: linear-gradient(90deg, #ffa8a8 0%, #fcff00 50%, #ffa8a8 100%);
	background-size: 200% auto;
	transition: all 1s;
	cursor: pointer;
}
.btn:hover {
	background-position: right center;
}

/* Конец описания кнопки */

/* Начало описания футера */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	text-transform: uppercase;
	background-color: #ffa8a8;
}

/* Конец описания футера */














































